.Navigation
    background-color lightgoldenrodyellow
    padding 0.25em 1em
    margin 0.5em 0
    border-radius 8px

    ol, ul
        margin-left 0.5em
        list-style circle
        padding-left .5em

        li
            padding-bottom .25em

    a
        text-decoration none

@import './counter'
